/* Give all cells padding and make text stick to top */
.root td {
    padding: 0.5rem 0.5rem 0 0;
    vertical-align: top;
}

/* For all table rows but the last, make the first cell bold */
.root tr:not(:last-child) td:first-child {
    font-weight: bold;
}

.root .speechTitle {
    display: flex;
    margin: 0.25rem 0;
}

/* Make rich text box take up remaining space, and give it some margin */
.root .speechTitle > :last-child {
    flex-grow: 1;
    margin-left: 0.25rem;
}
